@model ElearningProject.DAL.Entities.Student
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h2 style="color:seagreen">~Öğrenci Güncelleme~</h2>
                <br />
                <form method="post">
                    <input type="hidden" name="StudentId" value="@Model.StudentId" />
                    <label>Öğrenci Ad</label>
                    <input type="text" name="Name" value="@Model.Name" class="form-control" required />
                    <br />
                    <br />
                    <label>Öğrenci Soyad</label>
                    <input type="text" name="Surname" value="@Model.Surname" class="form-control" required />
                    <br />
                    <br />
                    <label>Öğrenci Mail Adresi</label>
                    <input type="email" name="Email" value="@Model.Email" class="form-control" required />
                    <br />
                    <br />
                    <label>Öğrenci Şifre</label>
                    <input type="password" name="Password" value="@Model.Password" class="form-control" required />
                    <br />
                    <br />
                    <button class="btn btn-primary">Öğrenci Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
